.about {
  position: relative;
  text-align: center;
}

.about__img-wrap {
  position: relative;
  width: 260px;
  height: 260px;
  background-size: cover;
  filter: grayscale(100%);
  z-index: 1;

  &:hover {
    filter: none;
  }
}

.about__img-wrap-decor {
  position: relative;
  margin: 0 auto 75px;
  width: 260px;
  height: 260px;

  &::before {
    @include element-style(123%, 100%, transparent);
    left: 50%;
    top: 30px;
    border: $light-border;
    transform: translate(-50%, 0);
  }
}

.about__content {
  position: relative;
  margin-bottom: 40px;
  text-align: left;
  line-height: 1.7;
}

.about__add-block {
  .social-nav {
    margin-bottom: 40px;

    .social-nav__list {
      gap: 20px;
    }

    .social-nav__item {
      svg {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media(min-width: 990px) {

  .about {
    padding-bottom: 70px;
  }

  .about__img-wrap {
    width: 400px;
    height: 400px;
  }

  .about__img-wrap-decor {
    width: 400px;
    height: 400px;

    &::before {
      top: 50px;
    }
  }
}
