.about {
  position: relative;
  text-align: center;

  .page-block__title {
    margin-bottom: 62px;
  }
}

.about__img-wrap-decor {
  position: relative;
  margin: 0 auto 45px;
  width: 100%;
  height: calc(100vw - 2rem);
  border: $light-border;

  .about__img-wrap {
    position: relative;
    margin: 0 auto;
    width: calc(100vw - (2rem + 22px*2));
    height: calc(100vw - 2rem);
    background-size: cover;
    filter: grayscale(100%);
    transform: translate(0, -22px);
    z-index: 1;

    &:hover {
      filter: none;
    }
  }

  //&::before {
  //  @include element-style(100%, calc(100vw - 2rem), transparent);
  //  left: 50%;
  //  top: 30px;
  //  border: $light-border;
  //  transform: translate(-50%, 0);
  //}
}

.about__content {
  span {
    @include trimEllipses(5);
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.7;
    font-size: 18px;
  }

  a {
    //display: block;
    margin-left: auto;
  }

}

.about__add-block {
  margin-top: 40px;
  .social-nav {
    margin-bottom: 40px;

    .social-nav__list {
      gap: 20px;
    }

    .social-nav__item {
      svg {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media(min-width: 990px) {

  .about {
    padding-bottom: 70px;
  }

  .about__layout-wrap {
    display: flex;
    gap: 4%;
  }

  .about__content {
    font-size: 26px;
  }

  .about__img-wrap-decor {
    margin-top: 42px;
    width: 40%;
    height: 400px;

    .about__img-wrap {
      width: calc(100% - 84px);
      height: calc(100%);
      transform: translate(0, -42px);
    }

    &::before {
      top: 50px;
    }
  }

  .about__content-wrap {
    width: 56%;
  }
}
