.about {
  position: relative;
  text-align: center;

  .page-block__title {
    margin-bottom: 62px;
  }
}

.about__img-wrap-decor {
  position: relative;
  margin: 0 auto 45px;
  width: 100%;
  height: calc(100vw - 2rem);
  border: $light-border;

  .about__img-wrap {
    position: relative;
    margin: -22px auto 0;
    width: calc(100vw - (2rem + 22px*2));
    height: calc(100vw - 2rem);
    background-size: cover;
    filter: grayscale(100%);
    z-index: 1;

    &:hover {
      filter: none;
    }
  }

  //&::before {
  //  @include element-style(100%, calc(100vw - 2rem), transparent);
  //  left: 50%;
  //  top: 30px;
  //  border: $light-border;
  //  transform: translate(-50%, 0);
  //}
}

.about__content {
  position: relative;
  margin-bottom: 40px;
  text-align: left;
  line-height: 1.7;
}

.about__add-block {
  .social-nav {
    margin-bottom: 40px;

    .social-nav__list {
      gap: 20px;
    }

    .social-nav__item {
      svg {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media(min-width: 990px) {

  .about {
    padding-bottom: 70px;
  }

  .about__layout-wrap {
    display: flex;
    gap: 4%;
  }

  .about__img-wrap-decor {
    width: 40%;
    height: 400px;

    .about__img-wrap {
      width: 100%;
      height: 100%;
    }

    &::before {
      top: 50px;
    }
  }

  .about__content-wrap {
    width: 56%;
  }
}
