.admin-panel-mobile {
  position: relative;
  width: 100%;

  .admin-panel-mobile__initiate-btn {
    justify-content: space-between;
    width: 100%;
    gap: 8px;

    svg {
      width: 20px;
      height: 20px;
      transition: all 0.3s ease-in-out;
    }
  }

  .admin-panel-mobile__dropdown {
    //position: absolute;
    //left: 0;
    //right: 0;
    //bottom: 0;
    //height: 0;
    //overflow: hidden;
    //transform: translate(0, 100%);
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }

  &.show {
    .admin-panel-mobile__dropdown {
      height: auto;
      transition: all 0.3s ease-in-out;
    }

    .admin-panel-mobile__initiate-btn {
      svg {
        transition: all 0.3s ease-in-out;
        transform: rotate(180deg);
      }
    }

  }
  .admin-panel-mobile__dropdown-list {
    .btn {
      justify-content: flex-start;
    }
  }
}

@media (min-width: 900px) {
  .admin-panel-mobile {
    display: none;
  }
}
