.admin {
  padding-top: 40px;

  .admin__header {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: $light-border;
  }

  .admin__back-link {
    @include link-style;
  }

  .admin__view-btns {
    display: flex;
    column-gap: 10px;
  }

  .admin__cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .add-btn {
      margin-left: auto;
    }
  }

  .admin__cards-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .admin__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: $light-border;
    &.admin__card--client {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }

  .admin__card-header {
    display: flex;
  }

  .admin__card-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .admin__card-avatar-wrap {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .admin__card-message {
    display: flex;
    align-items: flex-start;

    p {
      margin: 0;
    }
  }

  .admin__card-btns {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.admin__card-link {
  @include link-style;
  width: 100%;
  height: 100%;
}

.admin__card .client-profile__gallery li {
  width: 80px;
  min-width: 80px;
  height: 80px;
  cursor: pointer;
}

.admin__card {
  .client-profile__header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    .admin__card-link.client-profile {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }

  .admin__card-action-btns,
  .client-profile__action-btns {
    margin-left: auto;
  }

  .admin__card-action-btns {
    display: flex;
    align-items: center;
    align-self: self-start;
  }

  .client-profile__gallery {

    .client-profile__gallery-list {
      display: flex;
      gap: 12px;
    }
  }
}

@media (min-width: 900px) {
  .admin {
    padding-top: 100px;
  }
}
