.admin {

  .admin__left-panel {
    display: flex;
    flex-direction: column;
  }

  .admin__left-panel-btn {
    margin-bottom: 1.5rem;
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .admin__nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 5rem 2rem 1rem;
    width: 100vw;
    height: 100svh;
    background-color: $dark;
    transform: translate(-100%, 0);
    z-index: 10;
    transition: all 0.3s ease;

    .closing-btn {
      position: absolute;
      top: 22px;
      right: 1rem;
    }

    .admin__nav-list {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      a {
        @include link-style();
        font-size: 1.5rem;
        white-space: nowrap;
        font-weight: 500;

        &.active {
          font-weight: 700;
        }
      }
    }
  }

  .subMenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.5rem 0;
  }

  .admin__left-panel.show {
    .admin__nav {
      transform: translate(0, 0);
    }
  }

  .admin__back-link {
    @include link-style;
  }

  .admin__content {
    display: flex;
    flex-direction: column;
  }

  .admin__cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .admin__cards-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-top: 1.5rem;
    border-top: $light-border;
  }

  .admin__card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 13px 13px 29px 0;
    border-bottom: $light-border;
  }

  .admin__cards-header {
    margin-bottom: 2rem;
  }

  .admin__card-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
  }

  .admin__card-detail-item {
    display: flex;
    align-items: center;

    &.admin__card-detail-item--message {
      align-items: flex-start;

      p {
        margin: 0;
      }
    }
  }

  .admin__card-data {
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .admin__card-roles {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .admin__card-avatar-wrap {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }

  .admin__card-btns {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .admin__card-avatar {
    width: 100px;
    height: 100px;
  }
}

.admin__card-link {
  @include link-style;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.admin__card .client-profile__gallery li {
  flex: 0 0 auto;
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  cursor: pointer;
}

.admin__card {
  .client-profile__header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    .admin__card-link.client-profile {
      display: flex;
      flex-direction: row;
      padding: 0;
    }
  }

  .admin__card-actions,
  .client-profile__action-btns {
    margin-left: auto;
  }

  .admin__card-actions {
    display: flex;
    align-items: center;
    align-self: self-start;
    margin-top: -8px;
  }

  .client-profile__gallery {

    .client-profile__gallery-list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
}

@media (min-width: 900px) {
  .admin {
    display: flex;
    gap: 50px;
    .admin__left-panel-btn {
      display: none;
    }

    .admin__cards-header {
      .pagination {
        margin-left: auto;
      }
    }

    .admin__left-panel {
      flex: 0 0 auto;
      padding-right: 66px;
      max-width: 544px;
      border-right: $light-border;
    }

    .admin__nav {
      position: static;
      padding: 0;
      height: auto;
      width: auto;
      transform: none;
      z-index: 0;

      .closing-btn {
        display: none;
      }

      .admin__nav-list {
        row-gap: 3rem;
        a {
          @include link-style();
          font-size: 35px;
          white-space: nowrap;
          font-weight: 500;

          &.active {
            font-weight: 700;
          }
        }
      }
    }

    .admin__content {
      flex: 1 1 auto;
    }

    .admin__card-detail-item {
      font-size: 1.5rem;
    }

    .admin__card-actions {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
