.portfolio-slider {
  .alice-carousel {

    .alice-carousel__wrapper {
      max-width: 100%;
      height: 400px;

      .alice-carousel__stage {

        li.alice-carousel__stage-item {
          flex-shrink: 0;
          padding: 5px;
          //width: 200px !important;

          div.slider-item {
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;

            .portfolio-slider__link {
              display: flex;
              justify-content: center;
              align-items: flex-end;
              padding-bottom: 20px;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              filter: grayscale(100%);
            }

            &:hover {
              .portfolio-slider__link {
                filter: none;
              }
            }
          }

          .slider-item-title__wrap {
            width: 100%;
            background-color: rgba(55, 55, 55, 0.3);
          }

          .slider-item-title {
            position: relative;
            margin: 0;
            padding: 13px 16px;
            width: 100%;
            height: auto;
            font-size: 28px;
            font-weight: 500;
            line-height: 0.9;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
          }
        }
      }
    }
  }
}

.portfolio-slider {
  .alice-carousel {

    .alice-carousel__dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 35px;
      margin-bottom: 0;

      .alice-carousel__dots-item {
        margin: 0;
        width: 10px;
        height: 9px;
        border-radius: 0;
        background-color: $light;

        &.__active {
          width: 18px;
          height: 18px;
        }
      }
    }

    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
      position: absolute;
      bottom: 9px;
      padding: 0;
      width: 45px;
      height: 30px;
      transform: translate(0, 50%);

      .alice-carousel__next-btn-wrapper,
      .alice-carousel__prev-btn-wrapper {
        width: 100%;
        height: 100%;
      }

      .alice-carousel__next-btn-item,
      .alice-carousel__prev-btn-item {
        position: relative;
        padding: 0;
        width: 100%;
        height: 100%;

        span {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;

          &::before,
          &::after {
            content: "";
            display: block;
            position: absolute;
          }

          &::before {
            top: 50%;
            width: 45px;
            height: 2px;
            background-color: white;
            transform: translate(0, -50%);
          }

          &::after {
            width: 18px;
            height: 22px;
            background-color: transparent;
            box-sizing: border-box;
            border: 1px solid white;
            border-right: none;
            border-top: none;
          }
        }
      }
    }

    .alice-carousel__prev-btn {
      left: 0;

      .alice-carousel__prev-btn-item {
        span {
          left: 0;

          &::after {
            left: 0;
            bottom: 1px;
            transform: skew(-30deg, -10deg) rotate(-210deg);
          }
        }
      }
    }

    .alice-carousel__next-btn {
      right: 0;

      .alice-carousel__next-btn-item {
        span {
          right: 0;

          &::before {
            top: 44%;
          }

          &::after {
            right: 0;
            bottom: 9px;
            transform: skew(-30deg, -10deg) rotate(-30deg);
          }
        }
      }
    }

  }
}

@media (min-width: 600px) {

  .portfolio-slider {
    .alice-carousel {

      .alice-carousel__wrapper {
        margin: 0 auto;
        width: 560px;
        max-width: 100%;
        height: 380px;
      }
    }
  }
}

@media (min-width: 900px) {

  .portfolio-slider {
    .alice-carousel {

      .alice-carousel__wrapper {
        height: 489px;
        width: calc(100% - 150px);

        .alice-carousel__stage li.alice-carousel__stage-item {
          width: 325px !important;
        }
      }

      .alice-carousel__prev-btn,
      .alice-carousel__next-btn {
        width: 70px;
        bottom: 50%;

        .alice-carousel__next-btn-item,
        .alice-carousel__prev-btn-item {
          span {

            &::before {
              width: 70px;
            }
          }
        }

      }

      .alice-carousel__dots {
        margin-top: 60px;
        gap: 1rem;

        .alice-carousel__dots-item {
          width: 16px;
          height: 16px;

          &.__active {
            width: 23px;
            height: 23px;
          }
        }
      }
    }
  }
}
