.breadcrumbs {
  margin-bottom: 16px;

  .list {
    display: flex;
    gap: 8px;
  }

  .btn {
    font-weight: 500;
    border: none;
    text-decoration: none;
    &::before {
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }

  .list li:first-child .btn::before {
    display: none;
  }

  .btn.active {

  }
}
