.contacts {

  &::after {
    display: none;
  }

  .page-block__title {
    margin-bottom: 132px;
  }
}

.contacts__map-wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 370px;
  background-image: url("../img/mapInkDrop.png");
  background-size: cover;
  background-position: right -60px top 0;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  overflow: visible;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 36px 18px;
  width: 100%;
  max-width: 300px;
  color: $dark-text;
  font-size: 18px;
  //background-image: url("../img/form-background.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: $light;
  transform: translate(0, -90px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

  h4 {
    margin: 0;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

  .contacts__address {
    font-weight: 500;
  }

  .contacts__phone {
    font-weight: 600;
  }
}

@media (min-width: 600px) {
  .contacts__map-wrap {
    background-position: right 0 bottom 0;
  }
}

@media (min-width: 990px) {

  .contacts__map-wrap {
    position: relative;
    width: 100%;
    height: 517px;
  }

  .contacts__content {
    padding: 60px 44px;
    width: auto;
    max-width: 480px;
    font-weight: 700;
    font-size: 30px;

    h4 {
      font-size: 30px;
    }
  }

}
