.contacts {

  &::after {
    display: none;
  }

  .page-block__title {
    margin-bottom: 132px;
  }
}

.contacts__map-wrap {
  position: relative;
  display: flex;
  width: 100%;
  height: 370px;
  background-image: url("../img/mapRedesign.png");
  background-size: cover;
  background-position: top -30px center;
  overflow: visible;
}

.contacts__content {
  position: absolute;
  top: -92px;
  padding: 36px 18px;
  width: calc(100% - 2rem);
  color: $dark-text;
  font-size: 18px;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: $light;
  background-size: cover;

  h4 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .contacts__address {
    font-weight: 500;
  }

  .contacts__phone {
    font-weight: 600;
  }
}

@media (min-width: 990px) {

  .contacts__map-wrap {
    position: relative;
    width: 100%;
    height: 517px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .contacts__content {
    position: absolute;
    top: 50%;
    left: 110px;
    padding: 70px 46px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    transform: translate(0, -50%);
  }

}
