.confirmation {
  color: $dark;
}

.confirmation__text {
  text-align: center;
  font-weight: 600;
}

.confirmation__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
