input::placeholder,
textarea::placeholder,
.css-1jqq78o-placeholder {
  color: $placeholder;
  font-weight: 500 !important;
  font-size: 18px !important;
  font-family: 'Monseratt', sans-serif;
}

input[type="checkbox"],
input[type="file"] {
  display: none;
}

label[for="concent"] {
  color: $placeholder;
}

.form {
  color: $dark-text;
  input,
  textarea,
  select,
  div[class$="-control"] {
    padding: 0 0.5rem 0.25rem 0;
    width: 95%;
    font-size: 18px;
    font-weight: 600;
    color: $dark-text;
    border: none;
    border-bottom: $form-input-border;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      border: none;
      border-bottom: $form-input-border;
      border-radius: 0;
    }

    &:focus {
      border: none;
      border-bottom: $form-input-border;
      outline: none;
    }

    textarea {
      padding: 0 0.5rem 0.25rem;
    }
  }

  textarea {
    padding: 0.5rem;
    min-height: 105px;
    border: $form-input-border;
    &:hover {
      border: $form-input-border;
    }
  }

  .select-block {
    div[class$="-control"] {
      height: unset;
      min-height: unset;
      padding: 0;
    }
  }

  div[class$="-ValueContainer"] {
    padding: 0;
  }

  .css-1u9des2-indicatorSeparator {
    display: none;
  }

  .css-15lsz6c-indicatorContainer,
  .css-1xc3v61-indicatorContainer {
    svg {
      width: 25px;
      height: 25px;
      fill: $dark;
    }
  }

  .css-qbdosj-Input {
    padding: 0;
    //height: 32px;
  }
  div[class$="MenuList"] > div[class$="ni-option"] {
    background-color: #f6f6f6;
  }
}

.form__wrap {
  margin: auto;
  padding: 80px 60px;
  width: 100%;
  max-width: 615px;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: $light;
  background-size: cover;
}

.form__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 700;
}

.form__input-wrap {
  margin-bottom: 1.5rem;
  width: 100%;

  &.form__input-wrap--uploadFile {
    display: flex;
    align-items: center;
    gap: 12px;

    .form__error {
      padding-left: 0;
    }
  }
}

.form--galleryUpload,
.form--updateClient,
.form--updateService,
.form--updateAboutForm,
.form--updateTattooStyle {
  .form__input-wrap--uploadFile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form__input-wrap--uploadFile-img {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 180px;
    overflow: hidden;

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
}

.form__uploadFileBtns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.form__file-name {
  display: flex;
  overflow: hidden;
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.form__input-wrap--checkbox {
  display: flex;
  flex-direction: column;
  margin: 18px 0 0;

  label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
  }
}

.form__input-wrap--checkbox label,
label.form__input-label {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: $dark-text;
  font-weight: 600;
  font-size: 12px;
}

.checkbox {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  left: 0;
  top: 50%;
  background-color: transparent;
  border: $form-input-border;
  transform: translate(0, -50%);
}

input[type="checkbox"][value="true"] +label .checkbox::after {
  @include element-style(9px, 16px, transparent);
  bottom: 3px;
  left: 4px;
  border: $form-input-border;
  border-width: 3px;
  border-left: none;
  border-top: none;
  border-radius: 2px;
  transform: rotate(45deg) skew(9deg, 7deg);
}

.form__file-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  input {
    height: unset;
    width: unset;
    border: none;
  }
}

.form__submit-btn {
  margin-top: 30px;
  margin-bottom: 18px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;

  //&::before {
  //  @include element-style(2px, 50%, $dark);
  //  left: 0;
  //  bottom: 0;
  //}
}

.form__error {
  display: inline-block;
  margin-top: 10px;
  padding-left: 8px;
  color: rgb(150, 16, 16);
  font-weight: 600;
  &.form__error--api {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.form__avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border: $form-input-border;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
}

.form--galleryUpload {

  .client-gallery {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .client-gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100px;
    overflow: hidden;

    img {
      height: 100px;
    }
  }
}

.form__link {
  display: inline-block;
  margin-top: 20px;
  font-weight: 500;
}

.select-block {
  div[class$="-indicatorContainer"] svg {
    transform: rotate(0) !important;
  }

  &.menuOpen {
    div[class$="-indicatorContainer"] svg {
      transform: rotate(180deg) !important;
    }
  }
}

@media (min-width: 990px) {

  input::placeholder,
  textarea::placeholder {
    font-weight: 600;
    font-size: 20px;
  }

  .form__title {
    margin-bottom: 47px;
    font-size: 33px;
  }

  .form__input-wrap {
    margin-bottom: 2rem;
  }

  .form__input-wrap--checkbox {
    margin-bottom: 0;
    margin-top: 24px;

    label {
      padding-left: 36px;

    }
  }

  .form__input-wrap--checkbox label,
  label.form__input-label {
    font-size: 14px;
    font-weight: 700;
  }

  .form__submit-btn {
    height: 103px;
    font-size: 30px;
  }
}

.form__input-wrap {
  div[class$="menu"] {
    margin: 0;
    font-family: "Monseratt", sans-serif;
    border: $form-input-border;
    border-radius: 0;
    border-top: none;

    div[class$="MenuList"] > div {
      color: $medium;
      font-weight: 600;
    }
  }
}

.galleryItem-illustration {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form--updateGalleryItem {
  .form__input-wrap {
    margin-bottom: 20px;
  }
}
