.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  font-weight: 500;
  font-size: 18px;
  background-image: url("../img/mainOfferBG.png");
  background-repeat: no-repeat;

  .logo {
    height: 88px;
    width: 55px;

    .logo__link {
      width: 100%;
      height: 100%;
    }

    .logo__img {
      width: 100%;
      height: 100%;
      background-size: contain;
    }

    .logo__text {
      display: none;
    }
  }

  .social-nav {
    margin-bottom: 25px;
    .social-nav__link svg {
      width: 40px;
      height: 40px;
    }
  }
}

.main-footer__link {
  @include link-style;
}

@media (min-width: 990px) {
  .main-footer {
    padding: 60px 90px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 18px;
  }

  .main-footer__middle-section {
    row-gap: 16px;

    .logo {
      width: 60px;

      img {
        width: 60px;
      }
    }
  }
}
