.main-offer {
  position: relative;
  padding: 107px 16px 0;
  height: 432px;
  background-image:
    url("../img/offerIllustration.png"),
    url("../img/body-bg.jpg");

  background-repeat: no-repeat, no-repeat;
  background-size:
          360px 337px,
          cover;
  background-position:
    top 95px right -25px,
    center;
  overflow: visible;

  &::before {
    @include element-style(100%, 111px, transparent);
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(8,8,8,1) 0%, rgba(8,8,8,0) 100%);
  }

  .bookingBtnBlock {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: calc(100% - 2rem);
    transform: translate(-50%, 70%);
    z-index: 0;
  }
  .booking-btn {
    padding: 0 38px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: $light-text;
    border-color: $light;
  }
}

.main-offer__content-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  text-transform: uppercase;
  line-height: 1;
}

.main-offer__decorative-text {
  position: absolute;
  left: -40px;
  top: 42px;
  font-size: 10px;
  font-weight: 500;
  color: #c7c7c7;
  letter-spacing: 1.5px;
  transform: rotate(-90deg);

  &::before {
    @include element-style(21px, 2px, #c7c7c7);
    top: 20%;
    left: -5px;
    transform: translate(-100%, -50%);
  }
}

.main-offer__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: left;
  font-size: 46px;
  font-weight: 700;
  line-height: 0.9;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.main-offer__motto {
  display: block;
  padding: 22px 0;
  width: 140px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.85px;
  color: #c7c7c7;
  letter-spacing: 0.6px;
}

@media(min-width: 990px) {

  .main-offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 270px 70px 93px;
    height: 100vh;
    background-image:
      url("../img/offerIllustration.png"), //url("../img/main-screen-bw.png"),
      url("../img/body-bg.jpg");
    background-size:
      contain,
      cover;
    background-position:
      bottom 0 right 0,
      top center;

    &::before {
      height: 187px;
    }

    .bookingBtnBlock {
      position: relative;
      bottom: unset;
      left: unset;
      transform: none;
    }

    .booking-btn {
      position: static;
      margin: 82px 0 0;
      padding: 0 89px;
      width: 550px;
      height: 114px;
      font-size: 35px;
      transform: none;
    }
  }

  .main-offer__content-wrap {
    padding-left: 66px;
  }

  .main-offer__decorative-text {
    display: block;
    left: -68px;
    top: 74px;
    font-size: 18px;
    font-weight: 600;
    transform: rotate(-90deg);

    &::before {
      @include element-style(45px, 2px, #c7c7c7);
      top: 50%;
      left: -10px;
      transform: translate(-100%, -50%);
    }
  }

  .main-offer__title {
    font-size: 130px;
  }

  .main-offer__motto {
    position: static;
    margin-top: 14px;
    padding: 0;
    width: unset;
    text-align: right;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: transparent;
    transform: none;
  }
}
