.main-nav {
  position: relative;
}

.main-nav--ls {
  display: none;
}

.main-nav.shown {

  .mobile-main-menu {
    left: 0;
    transform: translate(0, 0);
  }

  .hamburger {
    position: fixed;
    top: 22px;
    right: 1rem;

    &::before {
      display: none;
    }

    &::after {
      top: 13px;
      right: -3px;
      width: 50px;
      transform: rotate(32deg);
    }

    span {
      position: absolute;
      bottom: 13px;
      left: -3px;
      width: 50px;
      transform: rotate(-32deg);
    }
  }
}

@media(min-width: 990px) {

  .main-nav__list.main-nav--ls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    bottom: -10px;
    height: 0;
    overflow: hidden;
    transform: translate(0, 100%);
    transition: all .25s ease-in-out;
    z-index: 1;

    .main-nav__link {
      font-size: 0;
    }
  }

  .main-nav.shown {

    .mobile-main-menu {
      display: none;
    }

    .main-nav__list.main-nav--ls {
      padding: 1.5rem 3.5rem 1.5rem 2rem;
      height: auto;

      &::before {
        @include element-style(100%, 100%, rgba(8, 8, 8, 0.5));
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 2px solid rgba(250, 250, 250, 0.6);
        z-index: -1;
      }

      .main-nav__link {
        @include link-style;
        padding: 8px 0;
        font-size: 30px;
        text-transform: capitalize;
        letter-spacing: 1.9px;
        white-space: nowrap;
      }
    }

    .hamburger {
      position: static;
      &::after {
        top: 18px;
        right: -5px;
        width: 69px;
        transform: rotate(32deg);
      }

      span {
        position: absolute;
        bottom: 18px;
        left: -5px;
        width: 69px;
        transform: rotate(-32deg);
      }
    }
  }
}
