.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  max-height: 100svh;
  text-align: left;
  background-color: transparent;
  z-index: 20;
  transform: translateY(-200%);

  &.open {
    animation: popUp 0.5s ease forwards;
  }
}

.modal-wrap__inner-block {
  position: relative;
  padding: 2rem 1.5rem;
  width: 100%;
  max-width: 615px;
  max-height: 90svh;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light;
  overflow: auto;
}

.modal__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
  min-height: 30px;
}

.modal__title {
  margin: 0;
  color: $dark-text;
  font-size: 24px;
}

.modal-wrap__close-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
  //transform: translate(50%, -100%);

  &::before,
  &::after {
    bottom: 14px;
    left: -3px;
  }
}

@media (min-width: 990px) {

  .modal-wrap__inner-block {
    padding: 80px 60px 60px;
    width: 615px;
    max-height: calc(100vh - 60px);

    .form {
      max-height: calc(100vh - 235px);
      overflow: auto;
      scrollbar-width: thin;
    }
  }

  .updateServiceModal {
    .modal-wrap__inner-block {
      width: 705px;
    }
  }
}

.modal-wrap.apiErrorMessage {
  text-align: center;
  color: $dark;
  font-weight: 600;
}
