.modal-wrap {
  position: fixed;
  @include center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.modal-wrap__inner-block {
  position: relative;
  padding: 60px 36px;
  width: 100%;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $light;
}

.modal__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.modal__title {
  margin-top: 0;
  color: $dark-text;
  font-size: 24px;
}

.modal-wrap__close-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;

  &::before,
  &::after {
    bottom: 14px;
    left: -3px;
  }
}

@media (min-width: 990px) {

  .modal-wrap__inner-block {
    padding: 60px;
    width: 615px;
    max-height: calc(100vh - 60px);

    .form {
      max-height: calc(100vh - 235px);
      overflow: auto;
      scrollbar-width: thin;
    }
  }

  .updateServiceModal {
    .modal-wrap__inner-block {
      width: 705px;
    }
  }
}

.modal-wrap.bookingApiError {
  text-align: center;
  color: $dark;
  font-weight: 600;
}
