.not-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: $dark-text;

  img {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .not-found {
    padding-top: 230px;
    img {
      width: 400px;
      min-height: 200px;
    }
  }
}


