.page-block {
  position: relative;
  padding-top: 70px;

  //&::after {
  //  @include element-style(100%, 16px, $dark);
  //  bottom: 0;
  //  right: 0;
  //}
}

.page-block__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-block__title-secondary {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  font-size: 25px;
  font-weight: 600;
}

@media(min-width: 990px) {

  .page-block {
    position: relative;
    padding-top: 112px;
  }

  .page-block__title {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
    font-size: 48px;
  }
}
