.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  .page-limit {
    display: flex;
    align-items: center;
    column-gap: 12px;

    label {
      white-space: nowrap;
    }

    select {
      padding: 6px;
      background-color: $light;
    }
  }

  .pagination__pageLimitButton {
    padding: 5px 12px;
    height: 44px;
    max-width: 60px;
    min-width: 42px;
    font-size: 20px;
    font-weight: 600;
    color: $dark;
    line-height: 1;
    background-color: $light;
    border: none;
  }

  input.pagination__pageLimit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 9px;
    max-width: 60px;
    height: 32px;
    font-size: 20px;
    font-weight: 600;
    color: $dark;
    line-height: 1;
    background-color: $light;
    border: none;
    border-radius: 0;
    &:focus-visible,
    &:focus {
      border-radius: 0;
      border: none;
      outline: none;
    }
  }

  .pagination__list {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 5px 14px;
  }

  .pagination__item {
    position: relative;
    padding: 5px 10px;
    font-size: 20px;
    border: $light-border;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      //padding: 9px 17px;
      background-color: $light;
      color: $dark-text;
      transform: scale(1.2);
      z-index: 1;
    }
  }

  .pagination__item.currentPage {
    position: relative;
    //padding: 9px 17px;
    background-color: #888888;
    transform: scale(1.2);
  }

  .paginator__total {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .pagination {
    gap: 2rem;
    width: auto;

    .page-limit {
      label {
        font-size: 23px;
      }
    }

    .paginator__total {
      width: auto;
      font-size: 23px;
    }
  }
}
