.read-more {
  .hidden {
    display: none;
  }

  .read-more__button {
    display: inline-block;
    //padding: 0 6px;
    //color: $dark-text;
    //background-color: $light;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;

    &.expanded {
      margin-left: auto;
      transform: translate(0, 200%);
    }
  }
}
