.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 100%;

  .search-form__search-wrap {
    position: relative;
    flex: 1 1 auto;

    svg {
      position: absolute;
      top: 50%;
      right: 0.7rem;
      width: 26px;
      height: 26px;
      transform: translate(0, -50%);
    }
  }

  .isFavourite {
    width: 41px;
    height: 41px;
    background-image: url("../svg/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 34px;
    cursor: pointer;

    &:hover {
      border: $light-border;
    }
  }

  input[name="isFavourite"]:checked + .isFavourite {
    background-image: url("../svg/star-filled.svg");
  }

  .search-submit {
    border: none;
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .select-block {
    flex: 0 0 auto;
    min-width: 200px;
    height: 41px;
    background-color: transparent;
    border: $light-border;
    cursor: pointer;

    div[class*="-control"] {
      height: 100%;
      border: none;
    }

    div[class*="-ValueContainer"] {
      padding-left: 10px;
      height: 100%;
      border: none;

      div[class*="-placeholder"] {
        color: $light-text;
        font-size: 18px !important;
        font-weight: 600 !important;
      }
    }

    div[class*="-Input"] {
      display: none;
    }

    div[class*="indicatorContainer"] svg {
      fill: $light;
    }

    div[class*="menu"] {
      top: unset;
      bottom: -2px;
      left: -2px;
      margin: 0;
      width: calc(100% + 4px);
      background-color: $dark;
      border-radius: 0;
      border: $light-border;
      border-top: none;
      transform: translate(0, 100%);

      div[class$="-option"] {
        color: $light-text;
        background-color: $dark;
      }

      div[class$="ni-option"] {
        background-color: $light;
        color: $dark-text;
      }
    }

    div[class$="singleValue"] {
      color: $light-text;
    }
  }

  select {
    max-width: 240px;
    font-size: 16px;
  }

  .search-input {
    padding: 0.5rem 1rem;
    height: 100%;
    width: 100%;
    color: $light-text;
    font-size: 18px;
    border: $light-border;
    &:focus,
    &:hover {
      border: $light-border;
    }

    &::placeholder {
      color: $placeholder;
      font-size: 18px !important;
      font-weight: 500 !important;
    }
  }

  .search-form__rate {
    margin-bottom: 0;
  }

  .btn--icon.rate svg {
    fill: gray;
  }
  .btn--icon.rate.selected svg {
    fill: $light;
  }
}

@media (min-width: 900px) {
  .search-form {
    gap: 2rem;
    .search-input {
      padding: 0.5rem 1.25rem;
      height: 66px;

      &::placeholder {
        font-size: 26px !important;
      }
    }

    .search-form__search-wrap {
      svg {
        right: 1rem;
        width: 40px;
        height: 40px;
      }
    }

    .select-block {
      height: 66px;
    }

    .search-submit {
      svg {
        width: 40px;
        height: 40px;
      }
    }

    .select-block {
      div[class*="-ValueContainer"] {

        div[class*="-placeholder"] {
          font-size: 25px !important;
        }
      }
    }

    .isFavourite {
      width: 56px;
      height: 56px;
      background-size: 50px 50px;
    }
  }
}


