.swiper-wrap {
  position: relative;
  padding: 0 3rem;

  .swiper {
    position: static;
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  color: $light-text !important;
}

.swiper-button-prev {
  left: 0 !important;
  //transform: translate(-100%, 100%);
}

.swiper-button-next {
  right: 0 !important;
  //transform: translate(100%, 100%);
}
