.swiper-wrap {
  position: relative;
  padding: 0 0 3rem;

  .swiper {
    position: static;

    .swiper-wrapper {
      z-index: 0;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  top: auto !important;
  bottom: 0;
  margin-top: 0 !important;
  color: $light-text !important;
  z-index: 0 !important;

  &::after {
    font-size: 1.5rem !important;
  }
}

.swiper-button-prev {
  left: 0 !important;
  justify-content: flex-start !important;
  //transform: translate(-100%, 100%);
}

.swiper-button-next {
  right: 0 !important;
  justify-content: flex-end !important;
  //transform: translate(100%, 100%);
}

@media (min-width: 600px) {
  .swiper-wrap {
    padding: 0 3rem;

    .swiper {
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    bottom: unset;
    top: var(--swiper-navigation-top-offset, 50%) !important;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2)) !important;
    color: $light-text !important;

    &::after {
      font-size: var(--swiper-navigation-size) !important;
    }
  }

  .swiper-button-prev {
    left: 0 !important;
    //transform: translate(-100%, 100%);
  }

  .swiper-button-next {
    right: 0 !important;
    //transform: translate(100%, 100%);
  }
}
