.tattoo-style {
  &.page-block {
    padding-top: 118px;
    //margin-bottom: 88px;
    background-image: url("../img/mainOfferBG.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    @include element-style(100%, 111px, transparent);
    bottom: -32px;
    left: 0;
    right: 0;
    background-image: linear-gradient(0deg, rgba(8,8,8,1) 0%, rgba(8,8,8,0) 100%);
  }

  .tattoo-style__title {
    margin-bottom: 1rem;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .swiper {
    margin-top: 2rem;
  }

  .alice-carousel {
    margin-top: 2rem;
    text-align: center;
    //position: absolute;
    //bottom: -42px;
    //left: 1rem;
    //transform: translate(0, 100%);

    .alice-carousel__dots,
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn {
      display: none;
    }
    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item,
    .alice-carousel__prev-btn-wrapper,
    .alice-carousel__next-btn-wrapper,
    span {
      display: block;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    .alice-carousel__prev-btn {
      left: 48%;
      transform: translate(-100%, 0);

      span {
        left: 0;

        &::after {
          left: 0;
          bottom: 1px;
          transform: skew(-30deg, -10deg) rotate(-210deg);
        }
      }
    }

    .alice-carousel__next-btn {
      right: 48%;
      transform: translate(100%, 0);

      span {
        right: 0;

        &::after {
          right: 0;
          bottom: 7px;
          transform: skew(-30deg, -10deg) rotate(-30deg);
        }
      }
    }

    span {
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 45px;
        height: 2px;
        background-color: white;
        transform: translate(0, -50%);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 22px;
        background-color: transparent;
        box-sizing: border-box;
        border: 1px solid white;
        border-right: none;
        border-top: none;
      }
    }
  }

  .alice-carousel__stage {
    margin-left: -8px;
  }

  .alice-carousel__stage-item {
    display: inline-flex;
    justify-content: center;
    padding: 8px;
    width: unset !important;
  }

  .tattoo-style__item {
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: $light-text;
    border-color: $light;
    cursor: pointer;
    &.btn--light-bg {
      color: $dark-text;
    }
  }

  .tattoo-style__item-content {
    display: flex;
    flex-direction: column;
    line-height: 1.4;

    .tattoo-style__item-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
    }
  }

  .advertisement {
    margin-top: 25px;
  }
}

@media (min-width: 600px) {

  .tattoo-style {
    .tattoo-style__item {
      font-size: 18px;
    }
  }
}

@media (min-width: 990px) {

  .tattoo-style.page-block {
    margin-bottom: 0;
    padding-top: 220px;
    padding-bottom: 28px;
    background-image: url("../img/body-bg.jpg");

    &::before {
      bottom: 0;
    }

    .tattoo-style__item-content {
      display: flex;
      column-gap: 60px;
      margin: 0 auto;
      max-width: 1317px;
    }

    .tattoo-style__item {
      display: block;
      max-width: 100%;
      text-align: center;
      font-size: 28px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tattoo-style__title {
      margin-bottom: 1.5rem;
      max-width: 100%;
      font-size: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .advertisement {
      margin-top: 69px;

      .bookingBtnBlock {
        display: none;
      }
    }

    .alice-carousel {
      position: static;
      transform: none;
    }
  }
}

@media (min-width: 1400px) {
  .tattoo-style {
    .alice-carousel__prev-btn,
    .alice-carousel__next-btn,
    .alice-carousel__dots {
      display: none;
    }
  }
}
