$light: #fafafa;
$dark: #080808;
$medium: #373737;
$disabled: #888;

$dark-text: $dark;
$light-text: $light;
$placeholder: #6F6D6D;

$light-border: 2px solid $light;
$dark-border: 2px solid $dark;
$form-input-border: 2px solid rgba(0, 0 ,0, 0.7);

