* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

body {
  display: block;
  margin: 0;
  font-family: "Monseratt", sans-serif;
  color: #fafafa;
  background-color: #080808;
}

div#root {
  min-height: 100vh;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

svg {
  fill: #fafafa;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #aaa #eee;
}

.hidden {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  opacity: 0;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  background-color: rgba(170, 170, 170, 0.6666666667);
  border-radius: 6px;
}

.app {
  position: relative;
  overflow: auto;
}

.background-wrap {
  margin: 0 auto;
  width: 1440px;
}

.overlay {
  position: relative;
}
.overlay::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 320px;
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

@media (min-width: 990px) {
  .container {
    padding: 0 70px;
    max-width: 1440px;
  }
}
.modal {
  display: none;
}

.modal.shown {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 40px 20px;
  width: 90%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  color: #080808;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: #fafafa;
  z-index: 5;
}
.modal.shown .modal__header {
  position: relative;
  margin-bottom: 20px;
}
.modal.shown .modal__header .close-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -100%);
}
.modal.shown .booking__form {
  padding: 0;
  height: unset;
  background-image: none;
  background-color: transparent;
}

@media (min-width: 990px) {
  .modal.shown {
    padding: 70px 40px;
    width: 600px;
  }
  .modal.shown .modal__header {
    margin-bottom: 36px;
  }
  .modal.shown .modal__header .close-button {
    position: absolute;
    right: -20px;
    top: -20px;
    transform: translate(0, -100%);
  }
  .modal.shown .booking__content {
    width: 100%;
  }
}
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: #080808;
  text-transform: uppercase;
  border: 2px solid #080808;
  cursor: pointer;
}

.btn--transparent {
  background-color: transparent;
}
.btn--transparent::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: black;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.btn--light-bg {
  background-color: #fafafa;
  border: none;
}
.btn--light-bg::before {
  display: none;
}
.btn--light-bg svg {
  fill: #080808;
}

.btn--dark-bg {
  color: #fafafa;
  background-color: #080808;
  border: 2px solid #fafafa;
  border-left: none;
}
.btn--dark-bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.btn--sm {
  padding: 6px 12px;
  font-size: 14px;
}

.btn--bg {
  padding: 0 16px;
  height: 46px;
  font-size: 16px;
  border-left: none;
}

.btn--icon {
  padding: 8px;
  background-color: transparent;
}
.btn--icon svg {
  width: 24px;
  height: 24px;
}

.btn--icon:disabled svg {
  fill: #888;
}

.btn--icon--light svg {
  fill: #080808;
}

@media (min-width: 990px) {
  .btn--bg {
    padding: 0 32px;
    height: 71px;
    font-size: 24px;
    font-weight: 700;
  }
}
.close-button {
  position: relative;
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
}
.close-button::before, .close-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 125%;
  height: 3px;
  background-color: #080808;
  box-sizing: border-box;
  left: -2px;
  bottom: 9px;
  border-radius: 2px;
}
.close-button::before {
  transform: rotate(45deg);
}
.close-button::after {
  transform: rotate(-45deg);
}

.title {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  width: 40px;
  height: 64px;
}
.logo .logo__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  display: flex;
  align-items: center;
  height: 100%;
}
.logo .logo__img {
  display: block;
  width: 40px;
  height: 100%;
  background-image: url("../img/logo.png");
  background-size: cover;
}

@media (min-width: 990px) {
  .logo {
    width: auto;
    height: 80px;
  }
  .logo .logo__img {
    width: 88px;
  }
}
.hamburger {
  width: 35px;
  height: 16px;
  cursor: pointer;
}
.hamburger span {
  position: relative;
  display: block;
  width: 35px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}
.hamburger span::before, .hamburger span::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}
.hamburger span::before {
  top: 7px;
  width: 20px;
}
.hamburger span::after {
  top: 14px;
  width: 35px;
}

@media (min-width: 990px) {
  .hamburger {
    width: 50px;
    height: 20px;
  }
  .hamburger span {
    width: 50px;
    height: 2px;
  }
  .hamburger span::before, .hamburger span::after {
    height: 2px;
  }
  .hamburger span::before {
    top: 9px;
    width: 30px;
  }
  .hamburger span::after {
    top: 18px;
    width: 50px;
  }
}
.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 112px;
  z-index: 10;
}
.main-header.container {
  overflow: visible;
}
.main-header .logo {
  margin-right: 50px;
}
.main-header .logo__img {
  width: 50px;
  height: 80px;
}
.main-header .logo__text {
  font-size: 0;
  width: 0;
}
.main-header .main-nav {
  margin-right: 30px;
}
.main-header .social-nav {
  margin-left: 0;
}
.main-header .main-header__admin-link {
  margin-left: 8px;
  height: 20px;
}
.main-header .main-header__admin-link svg {
  width: 20px;
  height: 20px;
}
.main-header.main-header--inner {
  position: relative;
  justify-content: space-between;
}
.main-header.main-header--inner .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  column-gap: 12px;
}
.main-header.main-header--inner .logo__img {
  position: static;
  top: unset;
  left: unset;
  width: 40px;
  height: 63px;
  transform: none;
}
.main-header.main-header--inner .logo__text {
  display: none;
  width: auto;
  font-size: 24px;
  font-weight: 700;
}
.main-header.main-header--inner .social-nav {
  margin-left: auto;
}

.main-header__btn {
  height: 40px;
  font-size: 12px;
}

@media (min-width: 990px) {
  .main-header .logo {
    margin-right: 73px;
  }
  .main-header .logo__link {
    gap: 12px;
  }
  .main-header .main-nav {
    margin-right: 130px;
  }
  .main-header .main-header__admin-link {
    margin-left: 16px;
    height: 28px;
  }
  .main-header .main-header__admin-link svg {
    width: 28px;
    height: 28px;
  }
  .main-header.main-header--inner .logo__text {
    display: block;
  }
  .main-header.main-header--inner .social-nav {
    margin-left: auto;
  }
  .main-header__btn {
    height: 60px;
    font-size: 20px;
  }
}
.main-nav {
  position: relative;
}

.main-nav__list {
  display: none;
}

.main-nav.shown .main-nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -10px;
  padding: 18px;
  background-color: #080808;
  border: 2px solid #fafafa;
  transform: translate(0, 100%);
  z-index: 1;
}
.main-nav.shown .main-nav__list .main-nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  padding: 8px 0;
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}
.main-nav.shown .hamburger {
  position: relative;
}
.main-nav.shown .hamburger span {
  position: absolute;
  bottom: 9px;
  left: -2px;
  transform: rotate(-20deg);
}
.main-nav.shown .hamburger span::before {
  display: none;
}
.main-nav.shown .hamburger span::after {
  top: 0;
  transform: rotate(40deg);
}

.social-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 8px;
}

.social-nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  display: flex;
  align-items: center;
  font-size: 0;
}
.social-nav__link svg {
  width: 20px;
  height: 20px;
  fill: white;
}

@media (min-width: 990px) {
  .social-nav__list {
    column-gap: 16px;
  }
  .social-nav__link svg {
    width: 28px;
    height: 28px;
  }
}
.social-share {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.social-share__list {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.social-share__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fafafa;
}
.social-share__link svg {
  width: 24px;
  height: 24px;
  fill: #080808;
}

.main-offer {
  position: relative;
  padding-top: 192px;
  padding-bottom: 84px;
  height: 100vh;
  background-image: url("../img/header-bg-mobile1.png"), url("../img/body-bg-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100%;
  background-position: top 25px right 0, top 0 right 0;
}
.main-offer .main-header__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 140px;
  font-size: 26px;
}

.main-offer__content-wrap {
  display: flex;
  flex-direction: column;
  text-align: right;
  text-transform: uppercase;
  line-height: 1;
}

.main-offer__decorative-text {
  display: none;
  position: absolute;
  left: -22px;
  top: 22px;
  font-size: 9px;
  font-weight: 500;
  transform: rotate(-90deg);
}
.main-offer__decorative-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: white;
  box-sizing: border-box;
  top: 50%;
  left: -2px;
  transform: translate(-100%, -50%);
}

.main-offer__title {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 12px;
  margin: 0;
  text-align: left;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.9;
}

.main-offer__motto {
  position: absolute;
  bottom: 140px;
  left: 50%;
  display: block;
  padding: 22px 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  background-color: #080808;
  transform: translate(-50%, 0);
}

@media (min-width: 990px) {
  .main-offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 297px;
    padding-bottom: 93px;
    height: 100vh;
    background-image: url("../img/main-screen-bw.png"), url("../img/body-bg.jpg");
    background-repeat: no-repeat, no-repeat;
    /*background-size: 880px 880px,
        100% 100%;
        background-position: top -140px right 0,
        top center;*/
    background-size: contain, 100% 100%;
    background-position: top -30px right 0, top center;
  }
  .main-offer::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #080808;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
  }
  .main-offer .main-header__btn {
    position: static;
    margin-top: 42px;
    width: 550px;
    height: 70px;
    font-size: 24px;
    font-weight: 800;
  }
  .main-offer__content-wrap {
    position: relative;
    padding-left: 37px;
    text-align: right;
    text-transform: uppercase;
    line-height: 1;
  }
  .main-offer__decorative-text {
    display: block;
    left: -58px;
    top: 62px;
    font-size: 18px;
    font-weight: 600;
    transform: rotate(-90deg);
  }
  .main-offer__decorative-text::before {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: white;
    box-sizing: border-box;
    top: 50%;
    left: -10px;
    transform: translate(-100%, -50%);
  }
  .main-offer__title {
    flex-direction: column;
    row-gap: 0;
    text-align: right;
    font-size: 100px;
  }
  .main-offer__motto {
    position: static;
    margin-top: 10px;
    padding: 0;
    text-align: right;
    font-size: 28px;
    letter-spacing: 1px;
    background-color: transparent;
    transform: none;
  }
}
.page-block {
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
}
.page-block::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 16px;
  background-color: #080808;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
}

.page-block__title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
}

@media (min-width: 990px) {
  .page-block {
    position: relative;
    padding-top: 112px;
  }
  .page-block__title {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: center;
    font-size: 48px;
  }
}
.about {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
}

.about__img-wrap {
  position: relative;
  width: 260px;
  height: 260px;
  background-size: cover;
  filter: grayscale(100%);
  z-index: 1;
}
.about__img-wrap:hover {
  filter: none;
}

.about__img-wrap-decor {
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 260px;
}
.about__img-wrap-decor::before {
  content: "";
  display: block;
  position: absolute;
  width: 123%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  left: 50%;
  top: 30px;
  border: 2px solid #fafafa;
  transform: translate(-50%, 0);
}

.about__content {
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

@media (min-width: 990px) {
  .about {
    padding-bottom: 70px;
  }
  .about__img-wrap {
    width: 400px;
    height: 400px;
  }
  .about__img-wrap-decor {
    width: 400px;
    height: 400px;
  }
  .about__img-wrap-decor::before {
    top: 50px;
  }
}
.services.container {
  background-image: none;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.services__item {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.services__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  width: 100%;
}

.services__article {
  position: relative;
  width: 100%;
}
.services__article .actionBar {
  top: 10px;
  right: 10px;
  z-index: 9;
}
.services__article .actionBar button {
  background-color: #080808;
}
.services__article h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.services__article-img-wrap {
  margin-bottom: 42px;
  max-width: 100%;
  height: 300px;
  background-image: url("../img/service.png");
  background-size: cover;
  filter: grayscale(100%);
}
.services__article-img-wrap:hover {
  filter: none;
}

.services__item-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 990px) {
  .services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
    row-gap: 60px;
    margin: 0 auto;
    max-width: 1102px;
  }
  .services__item {
    width: 430px;
    min-width: 430px;
  }
  .services__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: inherit;
  }
  .services__article h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .services__article-img-wrap {
    margin-bottom: 42px;
  }
  .services__article-img-wrap img {
    width: 430px;
  }
  .services__item-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.faq__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.faq__item {
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.65);
}
.faq__item .actionBar {
  position: static;
  display: inline-flex;
}
.faq__item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}

.faq__item-header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.faq__item-title {
  margin: 0;
  width: 80%;
  font-size: 18px;
  font-weight: 600;
}

.faq__item-text {
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.faq__item-handle {
  position: absolute;
  right: 0;
  top: 50%;
  width: 25px;
  height: 11px;
  transform: translate(0, -50%);
}
.faq__item-handle::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #fafafa;
  border-radius: 2px;
  border-left: none;
  border-top: none;
  transform: rotate(45deg) skew(-4deg, -4deg);
  bottom: 2px;
  left: 4px;
  transition: all 0.3s ease-in-out;
}

.faq__item.shown .faq__item-text {
  margin-top: 16px;
  height: auto;
  transition: all 0.3s ease-in-out;
}
.faq__item.shown .faq__item-handle::before {
  bottom: -6px;
  transform: rotate(225deg) skew(-4deg, -4deg);
}

@media (min-width: 990px) {
  .faq__list {
    width: 1000px;
  }
  .faq__item {
    padding: 20px 0;
  }
  .faq__item-title {
    font-size: 24px;
  }
}
.booking__content {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.booking__img-wrap {
  display: none;
}

.booking__form-page-wrap {
  padding: 60px 36px;
  width: 100%;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: cover;
}

@media (min-width: 990px) {
  .booking__content {
    display: flex;
    margin: 0 auto;
    width: 1230px;
  }
  .booking__img-wrap {
    display: block;
    width: 615px;
    background-image: url("../img/booking.jpg");
    background-repeat: no-repeat;
    background-position: top -120px left;
    background-size: cover;
  }
  .booking__form-page-wrap {
    padding: 80px 97px 80px 60px;
    width: 615px;
  }
}
.contacts.container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.contacts.container::after {
  display: none;
}

.contacts__map-wrap {
  position: relative;
  display: flex;
  padding: 40px 0;
  width: 100%;
  background-image: url("../img/map.PNG");
  background-size: cover;
  background-position: center;
}

.contacts__content {
  padding: 32px 26px;
  color: #080808;
  font-weight: 600;
  font-size: 16px;
  background-color: #fafafa;
}

@media (min-width: 990px) {
  .contacts__map-wrap {
    position: relative;
    width: 100%;
    height: 517px;
  }
  .contacts__map-wrap img {
    width: 100%;
    height: auto;
  }
  .contacts__content {
    position: absolute;
    top: 50%;
    left: 110px;
    padding: 70px 46px;
    color: black;
    font-weight: 700;
    font-size: 20px;
    transform: translate(0, -50%);
  }
}
.main-footer {
  padding: 60px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  font-weight: 500;
  font-size: 12px;
  background-image: none;
}

.main-footer__middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.main-footer__middle-section .logo {
  width: 60px;
}
.main-footer__middle-section .logo img {
  width: 60px;
}

.main-footer__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

@media (min-width: 990px) {
  .main-footer {
    padding: 60px 90px;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 18px;
  }
  .main-footer__middle-section {
    row-gap: 16px;
  }
  .main-footer__middle-section .logo {
    width: 60px;
  }
  .main-footer__middle-section .logo img {
    width: 60px;
  }
}
.handlers {
  position: relative;
  margin: 0 auto;
}

.handlers__elements {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 68%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  z-index: 5;
}

.handlers__left-arrow,
.handlers__right-arrow {
  position: relative;
  width: 45px;
  height: 2px;
  background-color: white;
}
.handlers__left-arrow::before,
.handlers__right-arrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 22px;
  background-color: transparent;
  box-sizing: border-box;
  right: 0;
  bottom: -7px;
  border: 1px solid white;
  border-right: none;
  border-top: none;
  transform: skew(-30deg, -10deg) rotate(-30deg);
}

.handlers__left-arrow::before {
  left: 0;
  bottom: -13px;
  transform: skew(-30deg, -10deg) rotate(-210deg);
}

@media (min-width: 990px) {
  .handlers__elements {
    width: 95%;
  }
  .handlers__left-arrow,
  .handlers__right-arrow {
    position: relative;
    width: 70px;
    height: 2px;
    background-color: white;
  }
  .handlers__left-arrow::before,
  .handlers__right-arrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 22px;
    background-color: transparent;
    box-sizing: border-box;
    right: 0;
    bottom: -7px;
    border: 1px solid white;
    border-right: none;
    border-top: none;
    transform: skew(-30deg, -10deg) rotate(-30deg);
  }
  .handlers__left-arrow::before {
    left: 0;
    bottom: -13px;
    transform: skew(-30deg, -10deg) rotate(-210deg);
  }
}
.fixed .advertisement {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;
}

.advertisement {
  margin: 0 -16px;
  padding: 16px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-image: none;
  color: #080808;
}
.advertisement .social-share {
  margin-left: auto;
}
.advertisement .advertisement__btn {
  position: relative;
}
.advertisement .advertisement__btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #080808;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

@media (min-width: 990px) {
  .advertisement {
    flex-direction: row;
    margin: 0 -70px;
    padding: 16px 70px;
  }
}
.tattoo-style.page-block {
  padding-bottom: 30px;
}
.tattoo-style::after {
  display: none;
}
.tattoo-style .tattoo-style__list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.tattoo-style .alice-carousel {
  padding-top: 50px;
}
.tattoo-style .alice-carousel .alice-carousel__prev-btn,
.tattoo-style .alice-carousel .alice-carousel__next-btn {
  position: absolute;
  top: 0;
  padding: 0;
  width: 45px;
  height: 30px;
}
.tattoo-style .alice-carousel .alice-carousel__prev-btn-item,
.tattoo-style .alice-carousel .alice-carousel__next-btn-item,
.tattoo-style .alice-carousel .alice-carousel__prev-btn-wrapper,
.tattoo-style .alice-carousel .alice-carousel__next-btn-wrapper,
.tattoo-style .alice-carousel span {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
}
.tattoo-style .alice-carousel .alice-carousel__prev-btn {
  left: 48%;
  transform: translate(-100%, 0);
}
.tattoo-style .alice-carousel .alice-carousel__prev-btn span {
  left: 0;
}
.tattoo-style .alice-carousel .alice-carousel__prev-btn span::after {
  left: 0;
  bottom: 1px;
  transform: skew(-30deg, -10deg) rotate(-210deg);
}
.tattoo-style .alice-carousel .alice-carousel__next-btn {
  right: 48%;
  transform: translate(100%, 0);
}
.tattoo-style .alice-carousel .alice-carousel__next-btn span {
  right: 0;
}
.tattoo-style .alice-carousel .alice-carousel__next-btn span::after {
  right: 0;
  bottom: 7px;
  transform: skew(-30deg, -10deg) rotate(-30deg);
}
.tattoo-style .alice-carousel span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 2px;
  background-color: white;
  transform: translate(0, -50%);
}
.tattoo-style .alice-carousel span::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 22px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid white;
  border-right: none;
  border-top: none;
}
.tattoo-style .alice-carousel__stage-item {
  display: inline-flex;
  justify-content: center;
  padding: 8px;
  width: unset !important;
}
.tattoo-style .tattoo-style__item {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.tattoo-style .tattoo-style__item.active {
  position: relative;
}
.tattoo-style .tattoo-style__item.active::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
}
.tattoo-style .tattoo-style__item-content {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
.tattoo-style .tattoo-style__item-content .tattoo-style__item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.tattoo-style__title {
  text-align: left;
  margin-bottom: 18px;
  text-transform: capitalize;
  line-height: 1;
}

@media (min-width: 600px) {
  .tattoo-style .tattoo-style__item {
    font-size: 18px;
  }
}
@media (min-width: 990px) {
  .tattoo-style {
    padding-top: 30px;
    padding-bottom: 112px;
  }
  .tattoo-style .tattoo-style__list {
    column-gap: 28px;
    margin-bottom: 70px;
  }
  .tattoo-style .tattoo-style__item-content {
    display: flex;
    column-gap: 60px;
  }
  .tattoo-style .tattoo-style__item {
    font-size: 28px;
  }
  .tattoo-style .tattoo-style__title {
    display: block;
    margin-top: -8px;
  }
}
@media (min-width: 1400px) {
  .tattoo-style .alice-carousel__prev-btn,
  .tattoo-style .alice-carousel__next-btn,
  .tattoo-style .alice-carousel__dots {
    display: none;
  }
}
.gallery.page-block {
  background-image: none;
}
.gallery .gallery__header {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}
.gallery .gallery__header .add-btn {
  margin-left: auto;
}

.gallery__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1%;
  row-gap: 10px;
  justify-content: space-between;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
}
.gallery__item .gallery__img-wrap {
  height: 82%;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(1);
}
.gallery__item .gallery__img-wrap:hover {
  filter: none;
}
.gallery__item .gallery__item-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  padding: 8px;
}
.gallery__item .btn--icon {
  background-color: #080808;
}

.gallery__item:hover {
  filter: none;
}

.gallery__large {
  position: relative;
  height: 70vh;
  width: auto;
  border: 4px solid #fafafa;
}
.gallery__large::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}
.gallery__large img {
  height: 100%;
  width: auto;
  max-width: 90vw;
}
.gallery__large:hover img {
  filter: none;
}

.gallery__item-close-btn {
  position: absolute;
  display: block;
  right: -4px;
  top: -34px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.gallery__item-close-btn::before, .gallery__item-close-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 32px;
  background-color: #fafafa;
  box-sizing: border-box;
  top: -1px;
  left: 14px;
}
.gallery__item-close-btn::before {
  transform: rotate(45deg);
}
.gallery__item-close-btn::after {
  transform: rotate(-45deg);
}

.gallery__uploadedImgPreviews {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  margin-bottom: 12px;
}

.gallery__uploadedImgPreviews-item {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.gallery__uploadedImgPreviews-item img {
  object-fit: cover;
}
.gallery__uploadedImgPreviews-item:hover img {
  filter: none;
}

@media (min-width: 768px) {
  .gallery__list {
    row-gap: 12px;
  }
  .gallery__item {
    width: 49%;
  }
}
@media (min-width: 990px) {
  .gallery.page-block {
    padding-top: 60px;
  }
  .gallery__list {
    row-gap: 16px;
  }
  .gallery__item {
    width: 24%;
  }
  .gallery__item .gallery__img-wrap {
    height: 85%;
  }
}
@media (min-width: 1400px) {
  .gallery__item {
    height: 440px;
  }
}
.portfolio-slider__list-wrap {
  position: relative;
  max-width: 100%;
  height: 380px;
  width: 270px;
  overflow: hidden;
}

.portfolio-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio-slider__item {
  flex-shrink: 0;
  position: relative;
  width: 270px;
  height: 380px;
  background-size: cover;
  filter: grayscale(100%);
}
.portfolio-slider__item:hover {
  filter: none;
}

.portfolio-slider__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.portfolio-slider__item-title {
  position: absolute;
  bottom: 50px;
  right: -22px;
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.9;
  text-shadow: 6px 2px 2px rgba(0, 0, 0, 0.95);
}
.portfolio-slider__item-title span {
  text-transform: capitalize;
}
.portfolio-slider__item-title span:last-child {
  margin-left: 20px;
}

@media (min-width: 990px) {
  .portfolio-slider__list-wrap {
    width: 842px;
  }
  .portfolio-slider__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 16px;
  }
  .portfolio-slider__item.active {
    display: block;
  }
  .portfolio-slider__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    position: relative;
  }
  .portfolio-slider__link-title {
    position: absolute;
    bottom: 50px;
    right: -22px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.9;
    text-shadow: 6px 2px 2px rgba(0, 0, 0, 0.95);
  }
  .portfolio-slider__link-title span:last-child {
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .portfolio-slider__list-wrap {
    width: 1140px;
  }
  .portfolio-slider__list {
    column-gap: 20px;
  }
}
.modal-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.modal-wrap__inner-block {
  position: relative;
  padding: 60px 36px;
  width: 100%;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafafa;
}

.modal__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.modal__title {
  margin-top: 0;
  color: #080808;
  font-size: 24px;
}

.modal-wrap__close-btn {
  margin-left: auto;
  width: 30px;
  height: 30px;
}
.modal-wrap__close-btn::before, .modal-wrap__close-btn::after {
  bottom: 14px;
  left: -3px;
}

@media (min-width: 990px) {
  .modal-wrap__inner-block {
    padding: 60px;
    width: 615px;
    max-height: calc(100vh - 60px);
  }
  .modal-wrap__inner-block .form {
    max-height: calc(100vh - 235px);
    overflow: auto;
    scrollbar-width: thin;
  }
  .updateServiceModal .modal-wrap__inner-block {
    width: 705px;
  }
}
.modal-wrap.apiErrorMessage {
  text-align: center;
  color: #080808;
  font-weight: 600;
}

.booking-modal .booking__form-modal-wrap {
  position: relative;
  padding: 60px 36px;
  width: 100%;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fafafa;
}
.booking-modal .booking-modal__close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
}
.booking-modal .booking-modal__close-btn::before, .booking-modal .booking-modal__close-btn::after {
  bottom: 14px;
  left: -3px;
}

@media (min-width: 990px) {
  .booking-modal .booking__form-modal-wrap {
    padding: 80px 60px;
    width: 615px;
  }
}
.admin {
  padding-top: 40px;
}
.admin .admin__header {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 2px solid #fafafa;
}
.admin .admin__back-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
.admin .admin__view-btns {
  display: flex;
  column-gap: 10px;
}
.admin .admin__cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.admin .admin__cards-header .add-btn {
  margin-left: auto;
}
.admin .admin__cards-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.admin .admin__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid #fafafa;
}
.admin .admin__card.admin__card--client {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.admin .admin__card-header {
  display: flex;
}
.admin .admin__card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.admin .admin__card-avatar-wrap {
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.admin .admin__card-message {
  display: flex;
  align-items: flex-start;
}
.admin .admin__card-message p {
  margin: 0;
}
.admin .admin__card-btns {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.admin__card-link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  width: 100%;
  height: 100%;
}

.admin__card .client-profile__gallery li {
  width: 80px;
  min-width: 80px;
  height: 80px;
  cursor: pointer;
}

.admin__card .client-profile__header {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.admin__card .client-profile__header .admin__card-link.client-profile {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.admin__card .admin__card-action-btns,
.admin__card .client-profile__action-btns {
  margin-left: auto;
}
.admin__card .admin__card-action-btns {
  display: flex;
  align-items: center;
  align-self: self-start;
}
.admin__card .client-profile__gallery .client-profile__gallery-list {
  display: flex;
  gap: 12px;
}

@media (min-width: 900px) {
  .admin {
    padding-top: 100px;
  }
}
.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.pagination .page-limit {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.pagination .page-limit label {
  white-space: nowrap;
}
.pagination .page-limit select {
  padding: 6px;
  background-color: #fafafa;
}
.pagination .pagination__pageLimitButton {
  padding: 0 9px;
  height: 32px;
  max-width: 70px;
  min-width: 70px;
  font-size: 20px;
  font-weight: 600;
  color: #080808;
  line-height: 1;
  background-color: #fafafa;
  border: none;
}
.pagination input.pagination__pageLimit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 9px;
  max-width: 70px;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  color: #080808;
  line-height: 1;
  background-color: #fafafa;
  border: none;
  border-radius: 0;
}
.pagination input.pagination__pageLimit:focus {
  border-radius: 0;
}
.pagination .pagination__list {
  display: flex;
}
.pagination .pagination__item {
  padding: 6px;
  cursor: pointer;
}
.pagination .pagination__item.currentPage {
  position: relative;
  font-weight: 700;
  color: pink;
}
.pagination .pagination__item.currentPage::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fafafa;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: -2px;
}
.pagination .paginator__total {
  width: 100%;
}

@media (min-width: 900px) {
  .pagination {
    width: auto;
  }
  .pagination .paginator__total {
    width: auto;
  }
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  width: 100%;
  height: 100%;
}
.preloader img {
  margin: auto;
}

.client-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.client-profile .client-profile__header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 62px;
}
.client-profile .client-profile__avatar {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.client-profile .client-profile__details {
  order: 1;
}
.client-profile .client-profile__name {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
}
.client-profile .client-profile__contacts {
  font-size: 12px;
}
.client-profile .client-profile__contacts input {
  background-color: #fafafa;
}
.client-profile .admin__card-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.client-profile .client-profile__contacts-title {
  text-transform: uppercase;
  font-weight: 600;
}
.client-profile .client-profile__gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.client-profile input[type=file] {
  color: #fafafa;
}

.client-profile__gallery-list li {
  flex-grow: 1;
  width: 100%;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
}
.client-profile__gallery-list li img {
  height: 100%;
  width: 100%;
  object-position: center;
}
.client-profile__gallery-list li:hover img {
  filter: none;
}

.client-profile__action-btns {
  position: relative;
  order: 0;
  display: flex;
  column-gap: 2px;
  margin-left: auto;
}

@media (min-width: 900px) {
  .client-profile .client-profile__header {
    align-items: flex-start;
    flex-direction: row;
    padding-left: 0;
  }
  .client-profile .client-profile__avatar {
    position: static;
    order: 0;
    width: 80px;
    height: 80px;
  }
  .client-profile .client-profile__details {
    order: 1;
  }
  .client-profile .client-profile__action-btns {
    order: 2;
    flex-direction: row;
    column-gap: 8px;
  }
  .client-profile__gallery-list li {
    width: 24%;
    max-width: 24%;
    height: 150px;
  }
}
.login {
  padding-top: 152px;
  color: #080808;
}
.login h2 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.login__form-wrap {
  margin: auto;
  padding: 80px 60px;
  width: 100%;
  max-width: 615px;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: #fafafa;
}

@media (min-width: 990px) {
  .login__form-wrap {
    width: 615px;
  }
}
input::placeholder,
textarea::placeholder,
.css-1jqq78o-placeholder {
  color: #6F6D6D;
  font-weight: 600 !important;
  font-size: 16px !important;
  font-family: "Monseratt", sans-serif;
}

input[type=checkbox],
input[type=file] {
  display: none;
}

.form {
  color: #080808;
}
.form input,
.form textarea,
.form select,
.form .css-13cymwt-control,
.form .css-t3ipsp-control {
  padding: 8px 0 12px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #080808;
  border: 2px solid #080808;
  border-left: none;
  border-top: none;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
.form input:hover,
.form textarea:hover,
.form select:hover,
.form .css-13cymwt-control:hover,
.form .css-t3ipsp-control:hover {
  border: 2px solid #080808;
  border-left: none;
  border-top: none;
  border-radius: 0;
}
.form input:focus,
.form textarea:focus,
.form select:focus,
.form .css-13cymwt-control:focus,
.form .css-t3ipsp-control:focus {
  border-left: none;
  border-top: none;
  outline: none;
}
.form .css-13cymwt-control,
.form .css-t3ipsp-control {
  padding: 0;
}
.form .css-13cymwt-control:hover,
.form .css-t3ipsp-control:hover {
  border: 2px solid #080808;
  border-left: none;
  border-top: none;
}
.form .css-1u9des2-indicatorSeparator {
  display: none;
}
.form .css-15lsz6c-indicatorContainer svg,
.form .css-1xc3v61-indicatorContainer svg {
  width: 25px;
  height: 25px;
  fill: #080808;
}
.form .css-1xc3v61-indicatorContainer svg {
  transform: rotate(0deg);
}
.form .css-15lsz6c-indicatorContainer svg {
  transform: rotate(180deg);
}
.form .css-1fdsijx-ValueContainer,
.form .css-qbdosj-Input {
  padding: 0;
  height: 32px;
}
.form .css-13cymwt-control,
.form .css-t3ipsp-control,
.form input {
  height: 32px;
}

.form__wrap {
  margin: auto;
  padding: 80px 60px;
  width: 100%;
  max-width: 615px;
  background-image: url("../img/form-background.png");
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: cover;
}

.search-form {
  width: 100%;
}

.form__title {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 700;
}

.form__input-wrap {
  margin-bottom: 32px;
  width: 100%;
}
.form__input-wrap.form__input-wrap--uploadFile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.form--updateTattooStyle .form__input-wrap--uploadFile {
  flex-direction: column;
  align-items: flex-start;
}

.form__input-wrap--uploadFile-img {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.form__input-wrap--uploadFile-img img {
  object-fit: contain;
  object-position: center;
}

.form__uploadFileBtns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.form__file-name {
  display: flex;
  overflow: hidden;
}
.form__file-name span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__input-wrap--checkbox {
  display: flex;
  flex-direction: column;
}
.form__input-wrap--checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
}

.form__input-wrap--checkbox label,
label.form__input-label {
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #373737;
  font-weight: 600;
  font-size: 12px;
}

.checkbox {
  position: absolute;
  display: block;
  width: 21px;
  height: 21px;
  left: 0;
  top: 50%;
  background-color: transparent;
  border: 2px solid #080808;
  transform: translate(0, -50%);
}

input[type=checkbox]:checked + label .checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 9px;
  height: 16px;
  background-color: transparent;
  box-sizing: border-box;
  bottom: 3px;
  left: 4px;
  border: 3px solid #080808;
  border-left: none;
  border-top: none;
  border-radius: 2px;
  transform: rotate(45deg) skew(9deg, 7deg);
}

.form__file-input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.form__file-input-wrap input {
  height: unset;
  width: unset;
  border: none;
}

.form__submit-btn {
  width: 100%;
}
.form__submit-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 50%;
  background-color: #080808;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
}

.form__error {
  display: inline-block;
  margin-top: 10px;
  color: rgb(150, 16, 16);
  font-weight: 600;
}
.form__error.form__error--api {
  margin-top: 0;
  margin-bottom: 20px;
}

.form__avatar {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border: 2px solid #080808;
}
.form__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.form--galleryUpload .client-gallery {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.form--galleryUpload .client-gallery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100px;
  overflow: hidden;
}
.form--galleryUpload .client-gallery__item img {
  height: 100px;
}

@media (min-width: 990px) {
  input::placeholder,
  textarea::placeholder {
    font-weight: 600;
    font-size: 20px;
  }
  .form__title {
    margin-bottom: 47px;
    font-size: 24px;
  }
  .form__input-wrap {
    margin-bottom: 46px;
  }
  .form__input-wrap.form__input-wrap--uploadFile {
    margin-bottom: 20px;
  }
  .form__input-wrap--checkbox label {
    padding-left: 36px;
  }
  .form__input-wrap--checkbox label,
  label.form__input-label {
    font-size: 14px;
    font-weight: 700;
  }
}
.form__input-wrap .css-1nmdiq5-menu {
  margin: 0;
  font-family: "Monseratt", sans-serif;
  border: 2px solid #080808;
  border-radius: 0;
  border-top: none;
}
.form__input-wrap .css-1nmdiq5-menu .css-1n6sfyn-MenuList > div {
  color: #373737;
  font-weight: 600;
}

.galleryItem-illustration {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form--updateGalleryItem .form__input-wrap {
  margin-bottom: 20px;
}

.success {
  text-align: center;
  color: #080808;
}

.portfolio-slider .alice-carousel .alice-carousel__wrapper {
  margin: 0 auto;
  width: 270px;
  max-width: 100%;
  height: 380px;
}
.portfolio-slider .alice-carousel .alice-carousel__wrapper .alice-carousel__stage li.alice-carousel__stage-item {
  flex-shrink: 0;
  padding: 5px;
}
.portfolio-slider .alice-carousel .alice-carousel__wrapper .alice-carousel__stage li.alice-carousel__stage-item div.slider-item {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.portfolio-slider .alice-carousel .alice-carousel__wrapper .alice-carousel__stage li.alice-carousel__stage-item div.slider-item .portfolio-slider__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.portfolio-slider .alice-carousel .alice-carousel__wrapper .alice-carousel__stage li.alice-carousel__stage-item div.slider-item:hover .portfolio-slider__link {
  filter: none;
}
.portfolio-slider .alice-carousel .alice-carousel__wrapper .alice-carousel__stage li.alice-carousel__stage-item .slider-item-title {
  margin: 0;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.9;
  text-shadow: 6px 2px 2px rgba(0, 0, 0, 0.95);
  background-color: rgba(0, 0, 0, 0.6);
}

.portfolio-slider .alice-carousel .alice-carousel__prev-btn,
.portfolio-slider .alice-carousel .alice-carousel__next-btn {
  position: absolute;
  top: 42%;
  padding: 0;
  width: 45px;
  height: 30px;
  transform: translate(0, -50%);
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__next-btn-wrapper,
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-wrapper,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__prev-btn-wrapper {
  width: 100%;
  height: 100%;
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__next-btn-item,
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__prev-btn-item {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__next-btn-item span,
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item span,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item span,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__prev-btn-item span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__next-btn-item span::before,
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item span::before,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item span::before,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__prev-btn-item span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 45px;
  height: 2px;
  background-color: white;
  transform: translate(0, -50%);
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__next-btn-item span::after,
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item span::after,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item span::after,
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__prev-btn-item span::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 22px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid white;
  border-right: none;
  border-top: none;
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn {
  left: 5%;
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item span {
  left: 0;
}
.portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item span::after {
  left: 0;
  bottom: 1px;
  transform: skew(-30deg, -10deg) rotate(-210deg);
}
.portfolio-slider .alice-carousel .alice-carousel__next-btn {
  right: 5%;
}
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item span {
  right: 0;
}
.portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item span::after {
  right: 0;
  bottom: 7px;
  transform: skew(-30deg, -10deg) rotate(-30deg);
}

@media (min-width: 600px) {
  .portfolio-slider .alice-carousel .alice-carousel__wrapper {
    margin: 0 auto;
    width: 560px;
    max-width: 100%;
    height: 380px;
  }
}
@media (min-width: 900px) {
  .portfolio-slider .alice-carousel .alice-carousel__wrapper {
    width: 850px;
  }
  .portfolio-slider .alice-carousel .alice-carousel__prev-btn,
  .portfolio-slider .alice-carousel .alice-carousel__next-btn {
    width: 70px;
  }
  .portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__next-btn-item span::before,
  .portfolio-slider .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item span::before,
  .portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-item span::before,
  .portfolio-slider .alice-carousel .alice-carousel__next-btn .alice-carousel__prev-btn-item span::before {
    width: 70px;
  }
  .portfolio-slider .alice-carousel .alice-carousel__prev-btn {
    left: 3%;
  }
  .portfolio-slider .alice-carousel .alice-carousel__next-btn {
    right: 3%;
  }
}
@media (min-width: 1400px) {
  .portfolio-slider .alice-carousel .alice-carousel__wrapper {
    width: 1200px;
  }
  .portfolio-slider .alice-carousel .alice-carousel__next-btn {
    right: 0;
  }
  .portfolio-slider .alice-carousel .alice-carousel__prev-btn {
    left: 0;
  }
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.search-form select,
.search-form input {
  padding: 10px;
  height: 42px;
  background-color: #fafafa;
  border: none;
}
.search-form select {
  max-width: 240px;
  font-size: 16px;
}
.search-form .btn {
  height: 42px;
  border: none;
}
.search-form .search-input {
  width: 100%;
}
.search-form .search-submit svg {
  width: 26px;
  height: 26px;
}

@media (min-width: 768px) {
  .search-form .search-input {
    width: 60%;
    flex-grow: 1;
  }
  .search-form .search-submit svg {
    width: 30px;
    height: 30px;
  }
}
.confetti {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.actionBar {
  position: absolute;
  top: -10px;
  right: 0;
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .actionBar {
    top: 70px;
  }
}
.nothingToShow {
  padding: 50px;
  text-align: center;
}

.breadcrumbs {
  margin-bottom: 16px;
}
.breadcrumbs .list {
  display: flex;
  gap: 8px;
}
.breadcrumbs .btn {
  font-weight: 500;
  border: none;
  text-decoration: none;
}
.breadcrumbs .btn::before {
  bottom: 50%;
  transform: translate(0, 50%);
}
.breadcrumbs .list li:first-child .btn::before {
  display: none;
}
.confirmation {
  color: #080808;
}

.confirmation__text {
  text-align: center;
  font-weight: 600;
}

.confirmation__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.archive .admin__cards-header {
  margin-bottom: 16px;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 0;
}

.scrollToTop__btn {
  width: 50px;
  height: 50px;
}
.scrollToTop__btn svg {
  width: 30px;
  height: 30px;
}

@media (min-width: 900px) {
  .scrollToTop__btn {
    width: 70px;
    height: 70px;
  }
  .scrollToTop__btn svg {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
